html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#map {
    height: calc(100vh - 56px);
    width: 100%;
    transition: margin-left 0.5s;
    z-index: 0;
}
.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}
.sidebar.active {
    width: 250px;
}
.sidebar-content {
    padding: 10px;
}
#sidebar-toggle {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Canh giữa theo chiều dọc */
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1001;
    border-radius: 0 5px 5px 0; /* Bo góc bên phải */
}
#sidebar-toggle:hover {
    background-color: #555;
}
.route-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.route-item:hover {
    background-color: #ddd;
}
body.sidebar-active #map {
    margin-left: 250px;
}
.navbar {
    z-index: 1000;
    padding: 5px 15px;
}
